*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/


# Created by https://www.toptal.com/developers/gitignore/api/firebase,androidstudio,kotlin
# Edit at https://www.toptal.com/developers/gitignore?templates=firebase,androidstudio,kotlin

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/

