<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dowoom">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoWoom">
        <activity
            android:name=".activity.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.register.CheckActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.FindByEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activity.login.StartActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>